.S2-fundo {
    width: 100%;
    height: 1000px;
    background-image: url('../img/bg-1.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.S2-section-beneficios {
    text-align: center;
    padding: 100px 20px;
}

.S2-titulo {
    color: #fff;
    margin-bottom: 40px;
}

.S2-box-card {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.S2-card {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    width: 33.333%;
}

.S2-icon-card {
    font-size: 82px;
    color: #005ff6;
    margin-bottom: 15px;
}

.S2-titulo-card {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #080710;
    margin-bottom: 20px;
}

.S2-box-btn {
    margin-top: 50px;
}