.fundo-S2 {
    width: 100%;
    height: 1000px;
    background-image: url('../img/bg-1.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section-beneficios {
    text-align: center;
    padding: 100px 20px;
}

.S2-titulo {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.box-card {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    width: 33.333%;
}

.icon-card {
    font-size: 82px;
    color: #005ff6;
    margin-bottom: 15px;
}

.titulo-card {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #080710;
    margin-bottom: 20px;
}

.box-btn {
    margin-top: 50px;
}