/* Seção 1 - Quem Somos */
.fundo-S1 {
    width: 100%;
    min-height: 520px;
    background-image: url('../img/bg-4.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}
.S1-section-quem-somos {
    display: flex;
    width: 100%;
    padding: 100px 20px;
}

/* lado esquedo */
.S1-box-img {
    width: 50%;
}

.S1-img {
    width: 475px;
}

/* lado Direito */
.S1-text-quem-somos {
    width: 50%;
}

.S1-titulo-menu {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: normal;
    color: #005FF6;
    margin-bottom: 20px;
}

.S1-titulo {
    text-align: left;
}

.S1-text {
    margin-top: 20px;
    font-size: 16px;
}