/* Estilos Gerais */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    -webkit-font-smoothing: antialiased;
}



/* Definições do limite das seções */
.container {
    position: relative;
}

.container-limite {
    position: absolute;
    max-width: 1250px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* Padrão de Botões */
.btn-azul {
    display: inline-block;
    background-color: #005ff6;
    color: #fff;
    border: solid 3px #005ff6;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 100px;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s;
}

.btn-azul:hover {
    background-color: #fff;
    color: #005ff6;

}





